.centro{
    justify-content: center;
    align-items: center;
}
.card{
    display: inline-block;
    position: relative;
    top: 20px;
    width: 350px;
    height: 150px;
    background: #323544;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    margin-bottom: 50px;
}